<h3>Course Prerequisites</h3>
{% assign prereqs = include.prereqs %}
{% assign is = prereqs.into | size %}
{% if is != 0 %}
    <p>This course has the following prerequisites : </p>
    <ul>
        {% for c in prereqs.into %}
            {% assign course = site.courses | where: "code", c | first %}
            <li><a href="{{ course.url | relative_url }}">{{ c }}</a></li>
        {% endfor %}
    </ul>
{% else %}
    <p>This course has no prerequisites</p>
{% endif %}
{% assign is = prereqs.onto | size %}
{% if is != 0 %}
    <p>This course is a prerequisite for the following courses : </p>
    <ul>
        {% for c in prereqs.onto %}
        {% assign course = site.courses | where : "code", c | first %}
        <li><a href="{{ course.url | relative_url }}">{{ c }}</a></li>
        {% endfor %}
    </ul>
{% endif %}