---
layout: page
---

<h2 >{{page.title}}</h2>

<div>{{content}}</div>

{% include courses/prereqs.html prereqs=page.prereqs %}
{% include courses/textbooks.html textbooks=page.textbooks %}
{% include courses/references.html references=page.code name="Code" %}
{% include courses/references.html references=page.videos name="Videos" %}
{% include courses/references.html references=page.websites name="Websites" %}
{% include courses/references.html references=page.articles name="Articles" %}
{% include courses/references.html references=page.communities name="Communities" %}
{% include courses/references.html references=page.apps name="Apps" %}
